name: Auto Update README

on:
  schedule:
  - cron: "0 * * * *" # tiap jam
  workflow_dispatch:


jobs:
  update:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.12"

    - name: Install dependencies
      run: pip install PyGithub

    - name: Run script
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: python .github/scripts/update_readme.py

    - name: Commit changes
      run: |
        if git diff --quiet; then
          echo "No changes."
          exit 0
        fi
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add README.md
        git commit -m "auto: update README"
        git push
